.authPage{
  display: flex;
  justify-content: center;
  align-items: center
}

.formBox{
  height: 55vh;
  width: 80vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 2%;
  
  background-image: linear-gradient(to right, #FF70A6, #FF9770, #FFD670 );
}